@{
    ViewData["Title"] = "Trainers";
}

<h1 class="text-center ">Trainers</h1>
<section class="border-3 contrainer">
    <div class="row">
        <div class="col-3">
            <img src="~/images/placeholder.jpg" alt="Placehorder" class="w-100" />
        </div>
        <div class="col-9 text-center">
            <h2>Trainer</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam libero metus, sollicitudin eget mattis quis, vulputate non dolor.
                In vulputate sollicitudin urna non aliquet. Nulla facilisi.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Integer ut maximus quam. Integer blandit vestibulum diam, in lacinia nibh vehicula id.
                Aenean elementum vulputate euismod. Sed sed elit feugiat sem luctus rutrum vitae eu justo.
                Sed ultrices ex ipsum, non volutpat velit molestie et.
                Aliquam imperdiet metus nec lobortis molestie. <br />
                Maecenas varius vestibulum nisl, quis congue tellus. 
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
                Vestibulum tempor ornare nunc, a fringilla tortor fringilla eget. 
                Praesent et interdum nisi. 
                Nam elementum ultricies malesuada. 
                Curabitur in tellus risus. 
                Proin non enim a elit accumsan eleifend. 
                Maecenas non nisi risus. 
                In ullamcorper nunc finibus orci mollis posuere.
            </p>
        </div>
    </div>
</section>
<section class="border-3 contrainer">
    <div class="row">
        <div class="col-9 text-center">
            <h2>Trainer</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam libero metus, sollicitudin eget mattis quis, vulputate non dolor.
                In vulputate sollicitudin urna non aliquet. Nulla facilisi.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Integer ut maximus quam. Integer blandit vestibulum diam, in lacinia nibh vehicula id.
                Aenean elementum vulputate euismod. Sed sed elit feugiat sem luctus rutrum vitae eu justo.
                Sed ultrices ex ipsum, non volutpat velit molestie et.
                Aliquam imperdiet metus nec lobortis molestie. <br />
                Maecenas varius vestibulum nisl, quis congue tellus.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                Vestibulum tempor ornare nunc, a fringilla tortor fringilla eget.
                Praesent et interdum nisi.
                Nam elementum ultricies malesuada.
                Curabitur in tellus risus.
                Proin non enim a elit accumsan eleifend.
                Maecenas non nisi risus.
                In ullamcorper nunc finibus orci mollis posuere.
            </p>
        </div>
        <div class="col-3">
            <img src="~/images/placeholder.jpg" alt="Placehorder" class="w-100" />
        </div>
    </div>
</section>
<section class="border-3 contrainer">
    <div class="row">
        <div class="col-3">
            <img src="~/images/placeholder.jpg" alt="Placehorder" class="w-100" />
        </div>
        <div class="col-9 text-center">
            <h2>Trainer</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam libero metus, sollicitudin eget mattis quis, vulputate non dolor.
                In vulputate sollicitudin urna non aliquet. Nulla facilisi.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Integer ut maximus quam. Integer blandit vestibulum diam, in lacinia nibh vehicula id.
                Aenean elementum vulputate euismod. Sed sed elit feugiat sem luctus rutrum vitae eu justo.
                Sed ultrices ex ipsum, non volutpat velit molestie et.
                Aliquam imperdiet metus nec lobortis molestie. <br />
                Maecenas varius vestibulum nisl, quis congue tellus.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                Vestibulum tempor ornare nunc, a fringilla tortor fringilla eget.
                Praesent et interdum nisi.
                Nam elementum ultricies malesuada.
                Curabitur in tellus risus.
                Proin non enim a elit accumsan eleifend.
                Maecenas non nisi risus.
                In ullamcorper nunc finibus orci mollis posuere.
            </p>
        </div>
    </div>
</section>


